{% extends 'base/base.html' %}
    {% set title = 'Home' %}

    <!--<button class="btn btn-info btn-raised"><a href="http://127.0.0.1:8000/logout">Exit</a></button>-->

{% block content %}
<div class="container">
<div class="card-columns">
  <div class="card">
    <div class="card-block">
      <p class="card-text">Activity</p>
      <hr>
        <div class="activity-element">
        <h6><span class="label label-primary h6">Questions</span></h6>
        <p class="card-text"><i class="icon-question-sign text-pr"> </i>Python music librery <code>pyknon</code>
        <br>...
        <small>How to convert midi format to mp3 in python?</small>
        </p>
        <hr>
        </div>
        <div class="activity-element">
        <h6><span class="label label-success h6">Answer</span></h6>
        <p class="card-text"><i class="icon-file-text text-success"> </i>Javascript Variables <code>var</code>, <code>let</code> and <code>const</code>
        <br>...
        <small>How correct use?</small>
        </p>
        <hr>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <p class="card-text">Snippets</p>
      <hr>
        <div class="snippets-element">
        <h6><span class="label label-info h6">Python</span></h6>
        <p class="card-text"><i class="icon-code text-info"> </i>Generator fibonacci sequence
        <br>...
        <small>Simple y eficiente generador para crear la sucecion fibonacci</small>
        </p>
        <hr>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
    <div class="row-content">
      <h4 class="card-title"> {{ name.split(' ')[0].capitalize() }}</h4>
      <div class="list">
        <ul>
        <li class="text-primary" style=""><i class="icon-star"></i> 0</li>
        <li class="text-danger" style=""><i class="icon-gittip"></i> 0</li>
        <li class="text-warning" style=""><i class="icon-chevron-down"></i> 0</li>
        <li class="text-success" style=""><i class="icon-chevron-up"></i> 0</li>
        </ul>
      </div>
    </div>

    <h6 class="card-subtitle text-muted">Software Developer</h6>
    <hr class="well-primary">

      <p class="card-text">Soy un pequeño emprendedor, naci para triunfar</p>
      <p class="card-text"><small class="text-success right">Online</small></p>
    </div>
  </div>
  <div class="card card-block card-inverse card-primary text-center">
      <div>
        <p>Listo para trabajar en un buen proyecto.</p>

        <a href="http://127.0.0.1:8000/setting/curriculum_info" class="right btn btn-info btn-sm">Curriculum</a>
      </div>
  </div>
  <div class="card card-block text-center">
    <h4 class="card-title">Project</h4>
    <hr>

    <h5><code>FoodLove: web app for foodies</code></h5>
  </div>
  <div class="card card-block text-right">
    <ul class="nav">
      <li>  Articles <span class="badge">0</span></li><!--create this class-->
    </ul>
      <p>
        No hay articulos creados
      </p>
      <a href="http://127.0.0.1:8000/setting/curriculum_info" class="right btn btn-info btn-sm">Write Article</a>

  </div>
  <div class="card card-block" style="height:410px;">
    <a href="http://127.0.0.1:8000/setting/personal_info" class="right btn btn-info btn-sm">Setting</a>
    <h4 class="card-title">Personal Date</h4>
    <hr>
        {% if personal_info %}
            {% for item in personal_info %}
                <h6 style=" font-size:14px;">{{ item }}</h6>
            {% endfor %}
        {% else %}
        <h6 class="text-info">Add your information in setting.</h6>
        {% endif %}    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
{% endblock %}
