{% extends 'base/base.html' %}
{% set title = 'Setting' %}
{% block content %}

{% assets "css_datapicker" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
{% endassets %}

{% assets "js_datapicker" %}
<script src="{{ ASSET_URL }}"/></script>
{% endassets %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
   <div class="row">
      <div class="col-md-4">
         <form class="form-horizontal" method="POST">
            {% from "macros/_macro.html" import render_field %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <fieldset>
               <legend>General Information</legend>
               <div class="form-group">
                  {{ render_field(form.name, value= PersonalDate.name, class='form-control ' ) }}
               </div>
               <div class="form-group">
                  {{ render_field(form.last_name, value= PersonalDate.last_name,class='form-control ' ) }}
               </div>
               <div class="form-group" >
                  {{ render_field(form.sex, value= PersonalDate.sex, class='form-control' ) }}
               </div>

               <div class="form-group">
                  {{ render_field(form.country, value= PersonalDate.country, class='form-control ' ) }}
               </div>
            </fieldset>
      </div>
      <div class="col-md-4">
      <fieldset>
      <legend>Network Data</legend>
      <div class="form-group">
      {{ render_field(form.repository, value= PersonalDate.repository, class='form-control ' ) }}
      </div>
      <div class="form-group">
      {{ render_field(form.social_red, value= PersonalDate.social_red, class='form-control ' ) }}
      </div>
      </fieldset>
      </div>
      <div class="col-md-3">
      <fieldset>
      <legend>Date</legend>
      <span class="icon-calendar"></span>
      <!--Recordad este error!-->
      {{ form.dob(value= PersonalDate.dub, class="inputdate", id='date') }}
      <script>
         $( function() {
             $('#date').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
         } );
      </script>
      </fieldset>
      <button type="submit" class="btn  btn-sm btn-success btn-raised">Submit</button>
      </div>
      </form>

   </div>
</div>
<br>

{% endblock %}
