<!DOCTYPE html>
{% from "_macro.html" import render_field %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if name %}
		  <title>{{ title }} | {{ name.split(' ')[0].capitalize() }}</title>
  	{% elif not name%}
      <title>Progressive Programming</title>
	  {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css', media='screen' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-material-design.css', media='screen' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ripples.css', media='screen' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/General.css', media='screen' ) }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"/></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"/></script>
    <script src="{{ url_for('static', filename='js/ripples.min.js') }}"/></script>
    <script src="{{ url_for('static', filename='js/material.min.js') }}"/></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

</head>
<body>
<header class="container">
  <div class="row">
  <div class="jumbotron " id="backg1">
      <div class="page-header col-md-12">
  <h1 class="text-header">Progressive Programming</h1>
  <h3 class="text-info h5">Some information / Good reason.</h3>
      </div>
      {% if request.endpoint in 'index' %}
        <h1 class="text-muted h5 text-xs-right">{{ date }}</h1>
      {% endif %}
      {% if 'username' in session and request.endpoint in 'index' %}
      <button type="button" class="btn btn-sm" name="button"><a href="http://127.0.0.1:8000/user">Dashboard</a></button>
      <button type="button" class="btn btn-sm" name="button"><a href="#">Write Post</a></button>
      <button type="button" class="btn btn-sm" name="button"><a href="http://127.0.0.1:8000/logout">Logout</a></button>
      {% elif 'username' in session and request.endpoint not in 'index' %}
      <div class="">
        <button type="button" class="btn btn-sm" name="button"><a href="http://127.0.0.1:8000/logout">Logout</a></button>
        <button type="button" class="btn btn-sm" name="button"><a href="http://127.0.0.1:8000/">Home</a></button>
      </div>
      <br>
      {% elif not 'username' in session and request.endpoint not in 'index' %}
      <div class="">
        <button type="button" class="btn btn-sm" name="button"><a href="http://127.0.0.1:8000/">Home</a></button>
      </div>
      <br>

      {% endif%}
      </div>
  </div>
</header>
{% block content%}
{% endblock %}

<br>
    <!--Footer-->
<div class="container footer" id="footer-base">

    <div class="col-md-4  text-info text-footer"><h6 class="tooltip-inner text-xs-center text-sm-center text-md-center">Page <span style="color:rgb(49,129,30)">in</span> Flask</h6></div>
    <!--/.Call to action-->
</div>
    <!--/.Copyright-->
<!--/.Footer-->
<script type="text/javascript">
  $.material.init();
</script>

</body>
</html>
