<!DOCTYPE html>
{% from "_macro.html" import render_field %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title and name %}
		<title>{{ title }} | {{ name }}</title>
	{% elif title %}
		<title>{{ title }} </title>
    {% else %}
    <title>Cursesita</title>

	{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Style/bootstrap.css', media='screen' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Style/bootstrap-material-design.css', media='screen' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Style/ripples.css', media='screen' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Style/General.css', media='screen' ) }}"/>
    <script src="{{ url_for('static', filename='JavaScript/jquery-2.2.4.min.js') }}"/></script>
    <script src="{{ url_for('static', filename='JavaScript/bootstrap.min.js') }}"/></script>
    <script src="{{ url_for('static', filename='JavaScript/material.js') }}"/></script>
    <script src="{{ url_for('static', filename='JavaScript/ripples.js') }}"/></script>
</head>
<body>
<header class="container">
  <div class="jumbotron " id="backg1">
      <div class="page-header">
  <h1 class="text-info">Coursesita</h1>
      </div>
      <h3 class="text-sucess"><br> Listo para <span class="text-info">Explorar</span>?</h3>
      <br>
  </div>
</header>

        {% block content%}

        {% endblock %}

    <!--Footer-->
<footer>
<div class="container alert-danger" id="footer-base">

    <div class="call-to-action">
        <h4 class="text-primary">Material Design for Bootstrap</h4>
    </div>
    <!--/.Call to action-->


    <p>© 2016 Copyright: <a href="http://www.MDBootstrap.com"> Esta pagina esta creada con Flask</a></p>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->


<script type="text/javascript">
  $.material.init();
</script>

</body>
</html>

