{% extends 'base/base.html' %}
{% set title = 'write your question' %}


{% block content %}

{% assets "css_cm" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
{% endassets %}

{% assets "js_cm" %}
<script src="{{ ASSET_URL }}"/></script>
{% endassets %}

  <script src="{{ url_for('static', filename='codemirror/mode/javascript/javascript.js') }}"/></script>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
          <h1>Question Info <i class="icon-border icon-light icon-large icon-file-text"></i></h1>
        <div class="write-question-grid">
          <form class="" method="POST">
            {% from "macros/_macro.html" import render_field %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="form-group label-floating">
            <label class="control-label" for="">Tittle</label>
                {{ render_field(form.tittle, class='form-litle' ) }}
          </div>
          <div class="form-group label-floating">
            <label class="control-label" for="" >Description</label>
                {{ render_field(form.description, class='description-area' ) }}
            <p class="help-block">Describe tu pregunta</p>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="area-text-question">
                {{ render_field(form.text_area, class='TextArea') }}
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="tag-input togglebutton">
        <label for="" class="text-info">Tags</label>
        {{ form.tag_one(class='tag-form')  }}
        {{ form.tag_two(class='tag-form')  }}
        {{ form.tag_three(class='tag-form') }}
        <p class="help-block">Add tag for more info in your question.</p>
    </div>
  </div>
        <button type="submit" class="btn btn-success btn-raised btn-sm" id="button-inline">Submit</button>
        </form>
      </div>
    </div>
  </div>


<script type="text/javascript">
  $(document).ready(function () {
    var myTextArea = $('.TextArea')[0];
    var myCodeMirror = CodeMirror.fromTextArea(myTextArea,{
      styleActiveLine: true,
      lineNumbers:true,
      theme: 'ttcn',
      lineWrapping: true,
      mode: 'javascript',
    });
  });
</script>

{% endblock %}
