{% extends 'base/base.html' %}
{% set title = 'Question ' %}
{% block content %}

<script src="{{ url_for('static', filename='codemirror/mode/javascript/javascript.js') }}"/></script>
<script src="{{ url_for('static', filename='js/counter_letter.js') }}"/></script>

<div class="container">
   <div class="col-md-8">
      <div class="well well-sm">
         <div class="panel-heading"><i class="icon-user text-info"></i> {{ User.username }}</div>
         <div class="panel-body">{{ Question_data.title }}</div>
         <div class="panel-body">{{ Question_data.description }}</div>
         <h6 style="padding-left:15px;"><i class="icon-time"> </i> {{Question_data.create_date}}</h6>
         <!--datetime.datetime.now-->
      </div>
      <ul class="tags">
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_one}}</a></li>
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_two}}</a></li>
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_three}}</a></li>
      </ul>
      <div class="prettyBlock">
         <div class="prettyPrint">
            <?prettify?>
            <pre class="prettyprint">
{{Question_data.text_area}}
            </pre>
         </div>
      </div>
      <div class="btn-group  btn-group-raised">
         <a type="button" class="btn btn-success">Upvote {{ Question_data.upvote}}</a>
         <a type="button" class="btn btn-danger">Downvote {{ Question_data.downvote}}</a>
      </div>
   </div>
   {% if answer_long %}
   <div class="col-md-8">
      <br>
      <center><h4 class="text-pre-answer">Responde</h4></center>
      <form class="" method="POST">
         {% from "macros/_macro.html" import render_field %}
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
         <div class="form-group">
            {{ render_field(answer_long.answer_long, class='answer-area text-info' ) }}
            <p class="help-block">Escribe tu respuesta</p>
            <br>
         </div>
         <div class="area-text-question">
            {{ render_field(answer_long.text_area, class='TextArea') }}
         </div>
         <button type="submit" class="btn-counter_letter right  btn btn-raised btn-sm btn-success">Submit <p class="counter"></p> </button>
      </form>
   </div>
   {% else %}
   <br>
   {% endif %}
   {% if Answers %}
   {% for answer in Answers  %}
   <div class="col-md-8">
      <br>
      <h5><i class="icon-info text-success"></i>
         {{  answer.answer }} | <a href="/user/{{ answer.id_user }} "class="text-muted"> {{ answer.name_user }}</a>
      </h5>
      <div class="list-group-item">
         <div class="row-content">
            <a type="button" class="btn btn-success btn-xs">Upvote {{ answer.upvote}}</a>
            <a type="button" class="btn btn-danger  btn-xs">Downvote {{ answer.downvote}}</a>
            <p class="right"> {{ answer.create_date }} </p>
            <div class="prettyBlock">
               <div class="prettyPrint">
                  <?prettify?>
                  <pre class="prettyprint">
{{ answer.answer_code }}
</pre>
               </div>
            </div>
            <br>
         </div>
      </div>
   </div>
   {% endfor %}
   {% else %}
   <center>
      <h5><i class="icon-info"></i> No hay Respuestas, responde tu!</h5>
   </center>
   {% endif %}
</div>



<script type="text/javascript">
  $(document).ready(function () {
    var myTextArea = $('.TextArea')[0];
    var myCodeMirror = CodeMirror.fromTextArea(myTextArea,{
      styleActiveLine: true,
      lineNumbers:true,
      theme: 'ambiance',
      lineWrapping: true,
      mode: 'javascript',
    });

    var button = $('.btn-counter_letter');
    var textCounter = $('.counter');
    var field = $('.answer-area');

    LetterCounter(1, 250, field, button, textCounter);

  });


</script>


{% endblock %}
