{% extends 'base/base.html' %}
{% set title = 'Question ' %}
{% block content %}
{% assets "css_cm" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
{% endassets %}

{% assets "js_cm" %}
<script src="{{ ASSET_URL }}"/></script>
{% endassets %}
<meta name="csrf-token" content="{{ csrf_token() }}">

{% assets "css_pr" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
{% endassets %}

{% assets "js_pr" %}
<script src="{{ ASSET_URL }}"/></script>
{% endassets %}
{% if lang|string() == 'htmlmixed' %}
<script src="{{ url_for('static', filename='codemirror/mode/xml/xml.js') }}"/></script>
{% endif %}

<script src="{{ url_for('static', filename='js/counter_letter.js') }}"/></script>
{% from "macros/_knowmode.html" import knowmode %}
{% from "macros/_popupmessage.html" import popupmessage %}

  {{ knowmode (lang) }}
{% if CRUD  %}
<div class="container">
  {{ popupmessage('question', Question_data.id) }}
  <br>
   <div class="col-md-6">
     <form  action="{{ url_for('main.edit_question', id=Question_data.id) }}" method="POST">
         {% from "macros/_macro.html" import render_field %}
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
               {{ render_field(new_QuestionForm.tittle, class='form-litle title', value=Question_data.title ) }}
               {{ render_field(new_QuestionForm.description, class='description-area description' ) }}
      <ul class="tags">
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_one}}</a></li>
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_two}}</a></li>
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_three}}</a></li>
         <li><a href="#" class="tag-question " style="text-decoration:none;">
             {{ Question_data.upvote_count}}
         </a></li>
         <li><a href="#" class="tag-question " style="text-decoration:none;" model-id="{{ Question_data.id }}" model-class="question">
             {{ Question_data.downvote_count}}
         </a></li>
         <li><a href="/user/{{ User.username }} "  class="tag-question user" style="text-decoration:none;">{{ User.username }}</a></li>
      </ul>

    </div>

      <div class="col-md-2" style="margin-top:10px">
        <button class="btn btn-sm btn-raised btn-edit-counter_letter" type="submit" name="edit_submit">
          Edit <p class="counter_snippet_length"></p>
        </button>
        <button class="btn btn-sm btn-raised" type="button" name="delete_submit"
         onclick="active('Estas seguro que quieres eliminar para siempre esta pregunta?');return false;">
          Delete
        </button>
      </div>
      <br>
                                  <script type="text/javascript">
                                    $('.description-area').val({{Question_data.description | tojson}}).css('resize', 'none');

                                    $(document).ready(function () {
                                      var myCodeQuestion = $('.CodeQuestion')[0];
                                      var myCodeMirror = CodeMirror.fromTextArea(myCodeQuestion,{
                                        styleActiveLine: true,
                                        lineNumbers:true,
                                        theme: 'ttcn',
                                        matchBrackets: true,
                                        indentUnit: 4,
                                        indentWithTabs: true,
                                        readOnly: false
                                      });
                                      myCodeMirror.setOption('mode', {{lang|tojson}});
                                      myCodeMirror.getDoc().setValue({{Question_data.text_area | tojson}});
                                      let buttonEdit = $('.btn-edit-counter_letter');
                                      let textCounterSnippet = $('.counter_snippet_length');
                                      let textarea = $('.CodeQuestion');
                                      const textarea_length = [50, 2500]; // BUG
                                      myCodeMirror.on("change", function(){
                                        var value_length = myCodeMirror.getValue().length;
                                        LetterCounter(textarea_length[0], textarea_length[1], value_length, buttonEdit, textCounterSnippet);
                                        myCodeMirror.refresh();
                                      });


                                      setTimeout(function() {
                                        myCodeMirror.refresh();
                                      },1);


                                    });
                                  </script>
      <div class="col-md-8">
        <div class="area-text-question">
          {{ render_field(new_QuestionForm.text_area, class='CodeQuestion') }}
        </div>
      </div>
    </form>
{% else %}
<div class="container">
  <br>
   <div class="col-md-6">
     <form>
         {% from "macros/_macro.html" import render_field %}
               {{ render_field(new_QuestionForm.tittle, class='form-litle', value=Question_data.title, disabled=true  ) }}
               {{ render_field(new_QuestionForm.description, class='description-area', disabled=true  ) }}
      <ul class="tags">
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_one}}</a></li>
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_two}}</a></li>
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_three}}</a></li>
         <li><a href="#" class="tag-question up " style="text-decoration:none;" model-id="{{ Question_data.id }}" model-class="question">
             {{ Question_data.upvote_count}}
         </a></li>
         <li><a href="#" class="tag-question down" style="text-decoration:none;" model-id="{{ Question_data.id }}" model-class="question">
             {{ Question_data.downvote_count}}
         </a></li>
         <li><a href="/user/{{ User.username }} " class="tag-question user" style="text-decoration:none;">{{ User.username }}</a></li>
      </ul>
    </div>
      <br>
      <script type="text/javascript">
        $('.description-area').val({{Question_data.description | tojson}}).css('resize', 'none');
        $(document).ready(function () {
          var myCodeQuestion = $('.CodeQuestion')[0];
          var myCodeMirror = CodeMirror.fromTextArea(myCodeQuestion,{
            styleActiveLine: true,
            lineNumbers:true,
            theme: 'ttcn',
            lineWrapping: true,
            matchBrackets: true,
            indentUnit: 4,
            indentWithTabs: true,
            readOnly: true
          });
          myCodeMirror.setOption('mode', {{lang|tojson}});
          myCodeMirror.getDoc().setValue({{Question_data.text_area | tojson}});
          setTimeout(function() {
            myCodeMirror.refresh();
          },1);
        });
      </script>
      <div class="col-md-8">
        <div class="area-text-question">
          {{ render_field(new_QuestionForm.text_area, class='CodeQuestion') }}
        </div>
      </div>
    </form>

{% endif %}


   {% if is_authenticated %}
   <div class="col-md-8">
      <br>
      <center><h4 class="text-pre-answer">Responde</h4></center>
      <form class="" method="POST">
         {% from "macros/_macro.html" import render_field %}
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
         <div class="form-group">
            {{ render_field(answer_long.answer_long, class='answer-area' ) }}
            <p class="help-block">Escribe tu respuesta</p>
            <br>
         </div>
         <div class="area-text-question">
            {{ render_field(answer_long.text_area, class='TextArea') }}
         </div>
         <button type="submit" class="btn-counter_letter right  btn btn-raised btn-sm btn-success">Submit <p class="counter"></p> </button>
      </form>
   </div>
                                   <script type="text/javascript">
                                     $(document).ready(function () {
                                       var myTextArea = $('.TextArea')[0];
                                       var myCodeMirror = CodeMirror.fromTextArea(myTextArea,{
                                         styleActiveLine: true,
                                         lineNumbers:true,
                                         theme: 'ttcn',
                                         lineWrapping: true,
                                         viewportMargin: Infinity,
                                       });
                                       myCodeMirror.setOption('mode', {{lang|tojson}});
                                       myCodeMirror.setSize(710, '20%');
                                       var button = $('.btn-counter_letter');
                                       var textCounter = $('.counter');
                                       var field = $('.answer-area');
                                       LetterCounter(1, 250, field, button, textCounter);
                                     });
                                   </script>
   {% else %}
   <br>
   {% endif %}
   {% if Answers %}
   {% for answer in Answers  %}

   <div class="col-md-8">
      <br>
      <h5><i class="icon-info text-success"></i>
         {{  answer.answer }} | <a href="/user/{{ answer.name_user }} " class="text-muted"> {{ answer.get_username }}</a>
      </h5>
      <div class="list-group-item">
         <div class="row-content">
            <a type="button" class="btn btn-success upvote btn-xs" model-id="{{ answer.id }}" model-class="answer">
                <i class="icon-hand-up"></i>{{ answer.upvote_count}}
            </a>
            <a type="button" class="btn btn-danger  downvote btn-xs" model-id="{{ answer.id }}" model-class="answer">
                <i class="icon-hand-down"></i>{{ answer.downvote_count}}
            </a>
            <p class="right"> <i class="icon-time"></i> {{ answer.create_date }} </p>
            <div class="prettyBlock">
               <div class="prettyPrint">
                  <?prettify?>
<pre class="prettyprint linenums">
{{ answer.answer_code }}
</pre>
               </div>
            </div>
            <br>
         </div>
      </div>
   </div>

    {% endfor %}
   {% else %}
   <center>
      <h5><i class="icon-info"></i> No hay Respuestas, responde tu!</h5>
   </center>
   {% endif %}
</div>



<script type="text/javascript">

let title= $('.title');
const title_length = [5, 150];

let description = $('.description');
const description_length = [15, 1000];

let buttonEdit = $('.btn-edit-counter_letter');
let textCounterSnippet = $('.counter_snippet_length');

LetterCounter(title_length[0], title_length[1], title, buttonEdit, textCounterSnippet);
LetterCounter(description_length[0], description_length[1], description, buttonEdit, textCounterSnippet);

</script>


   {% if is_authenticated  %}

<script>
$(".up").addClass('upvote');
$(".down").addClass('downvote');

var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})

$('.upvote').click(function(){
  var scope = this;
      $.ajax({
              type: "GET",
              url: "/upvote",
              data:{
                    id: $(scope).attr('model-id'),
                    model: $(scope).attr('model-class')
              },
              dataType: "json"

      })
     .done(function(response) {
         console.log( "done!", response.likes );
         $(scope).text(response.likes);
     })
     .fail(function() {
         console.log( "error" );
     })
     .always(function() {
        console.log( "console", $(scope).attr('model-id'), $(scope).attr('model-class') );
     });
});

$('.downvote').click(function(){
  var scope = this;
      $.ajax({
              type: "GET",
              url: "/downvote",
              data:{
                    id: $(scope).attr('model-id'),
                    model: $(scope).attr('model-class')
              },
              dataType: "json"

      })
     .done(function(response) {
         console.log( "done!" , response.likes);
         $(scope).text(response.likes);
     })
     .fail(function() {
         console.log( "error" );
     })
     .always(function() {
        console.log( "console", $(scope).attr('model-id'), $(scope).attr('model-class') );
     });
});



</script>

   {% endif %}

{% endblock %}