{% extends 'base/base.html' %}
{% set title = 'Question ' %}
{% block content %}

<meta name="csrf-token" content="{{ csrf_token() }}">


{% if lang|string() == 'htmlmixed' %}
<script src="{{ url_for('static', filename='codemirror/mode/xml/xml.js') }}"/></script>
{% endif %}

<script src="{{ url_for('static', filename='js/counter_letter.js') }}"/></script>
{% from "macros/_knowmode.html" import knowmode %}
{% from "macros/_popupmessage.html" import popupmessage %}
{% from "macros/_ajaxvote.html" import ajax_vote %}

  {{ knowmode (lang) }}
{% if CRUD  %}
<div class="container">
  {{ popupmessage('question', Question_data.id) }}
  <br>
   <div class="col-md-6">
     <form  action="{{ url_for('edit_question', id=Question_data.id) }}" method="POST">
         {% from "macros/_macro.html" import render_field %}
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
               {{ render_field(new_QuestionForm.tittle, class='form-litle title', value=Question_data.title ) }}
               {{ render_field(new_QuestionForm.description, class='description-area description' ) }}
      <ul class="tags">
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_one}}</a></li>
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_two}}</a></li>
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_three}}</a></li>
         <li><a href="#" class="tag-question up " style="text-decoration:none;">{{ Question_data.upvote_count}}</a></li>
         <li><a href="#" class="tag-question down" style="text-decoration:none;"> {{ Question_data.downvote_count}}</a></li>
         <li><a href="/user/{{ User.username }} "  class="tag-question user" style="text-decoration:none;">{{ User.username }}</a></li>
      </ul>

    </div>

      <div class="col-md-2" style="margin-top:10px">
        <button class="btn btn-sm btn-raised btn-edit-counter_letter" type="submit" name="edit_submit">
          Edit <p class="counter_snippet_length"></p>
        </button>
        <button class="btn btn-sm btn-raised" type="button" name="delete_submit"
         onclick="active('Estas seguro que quieres eliminar para siempre esta pregunta?');return false;">
          Delete
        </button>
      </div>
      <br>
                                  <script type="text/javascript">
                                    $('.description-area').val({{Question_data.description | tojson}}).css('resize', 'none');

                                    $(document).ready(function () {
                                      var myCodeQuestion = $('.CodeQuestion')[0];
                                      var myCodeMirror = CodeMirror.fromTextArea(myCodeQuestion,{
                                        styleActiveLine: true,
                                        lineNumbers:true,
                                        theme: 'ttcn',
                                        matchBrackets: true,
                                        indentUnit: 4,
                                        indentWithTabs: true,
                                        readOnly: false
                                      });
                                      myCodeMirror.setOption('mode', {{lang|tojson}});
                                      myCodeMirror.getDoc().setValue({{Question_data.text_area | tojson}});
                                      let buttonEdit = $('.btn-edit-counter_letter');
                                      let textCounterSnippet = $('.counter_snippet_length');
                                      let textarea = $('.CodeQuestion');
                                      const textarea_length = [50, 2500]; // BUG
                                      myCodeMirror.on("change", function(){
                                        var value_length = myCodeMirror.getValue().length;
                                        LetterCounter(textarea_length[0], textarea_length[1], value_length, buttonEdit, textCounterSnippet);
                                        myCodeMirror.refresh();
                                      });


                                      setTimeout(function() {
                                        myCodeMirror.refresh();
                                      },1);


                                    });
                                  </script>
      <div class="col-md-8">
        <div class="area-text-question">
          {{ render_field(new_QuestionForm.text_area, class='CodeQuestion') }}
        </div>
      </div>
    </form>
{% else %}
<div class="container">
  <br>
   <div class="col-md-6">
     <form>
         {% from "macros/_macro.html" import render_field %}
               {{ render_field(new_QuestionForm.tittle, class='form-litle', value=Question_data.title, disabled=true  ) }}
               {{ render_field(new_QuestionForm.description, class='description-area', disabled=true  ) }}
      <ul class="tags">
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_one}}</a></li>
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_two}}</a></li>
         <li><a href="#" class="tag-question" style="text-decoration:none;">{{Tag.tag_three}}</a></li>
         <li><a href="#" class="tag-question up "  style="text-decoration:none;">{{ Question_data.upvote_count}}</a></li>
         <li><a href="#" class="tag-question down" style="text-decoration:none;">{{ Question_data.downvote_count}}</a></li>
         <li><a href="/user/{{ User.username }} " class="tag-question user" style="text-decoration:none;">{{ User.username }}</a></li>
      </ul>

    </div>

      <div class="col-md-2" style="margin-top:10px">
        <button class="btn btn-sm btn-raised" type="submit" name="share_submit">
          SHARE
        </button>
      </div>
      <br>
                                  <script type="text/javascript">
                                    $('.description-area').val({{Question_data.description | tojson}}).css('resize', 'none');
                                    $(document).ready(function () {
                                      var myCodeQuestion = $('.CodeQuestion')[0];
                                      var myCodeMirror = CodeMirror.fromTextArea(myCodeQuestion,{
                                        styleActiveLine: true,
                                        lineNumbers:true,
                                        theme: 'ttcn',
                                        lineWrapping: true,
                                        matchBrackets: true,
                                        indentUnit: 4,
                                        indentWithTabs: true,
                                        readOnly: true
                                      });
                                      myCodeMirror.setOption('mode', {{lang|tojson}});
                                      myCodeMirror.getDoc().setValue({{Question_data.text_area | tojson}});
                                      setTimeout(function() {
                                        myCodeMirror.refresh();
                                      },1);
                                    });
                                  </script>
      <div class="col-md-8">
        <div class="area-text-question">
          {{ render_field(new_QuestionForm.text_area, class='CodeQuestion') }}
        </div>
      </div>
    </form>

{% endif %}


   {% if is_authenticated %}
   <div class="col-md-8">
      <br>
      <center><h4 class="text-pre-answer">Responde</h4></center>
      <form class="" method="POST">
         {% from "macros/_macro.html" import render_field %}
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
         <div class="form-group">
            {{ render_field(answer_long.answer_long, class='answer-area' ) }}
            <p class="help-block">Escribe tu respuesta</p>
            <br>
         </div>
         <div class="area-text-question">
            {{ render_field(answer_long.text_area, class='TextArea') }}
         </div>
         <button type="submit" class="btn-counter_letter right  btn btn-raised btn-sm btn-success">Submit <p class="counter"></p> </button>
      </form>
   </div>
                                   <script type="text/javascript">
                                     $(document).ready(function () {
                                       var myTextArea = $('.TextArea')[0];
                                       var myCodeMirror = CodeMirror.fromTextArea(myTextArea,{
                                         styleActiveLine: true,
                                         lineNumbers:true,
                                         theme: 'ttcn',
                                         lineWrapping: true,
                                         viewportMargin: Infinity,
                                       });
                                       myCodeMirror.setOption('mode', {{lang|tojson}});
                                       myCodeMirror.setSize(710, '20%');
                                       var button = $('.btn-counter_letter');
                                       var textCounter = $('.counter');
                                       var field = $('.answer-area');
                                       LetterCounter(1, 250, field, button, textCounter);
                                     });
                                   </script>
   {% else %}
   <br>
   {% endif %}
   {% if Answers %}
   {% for answer in Answers  %}

   <div class="col-md-8">
      <br>
      <h5><i class="icon-info text-success"></i>
         {{  answer.answer }} | <a href="/user/{{ answer.name_user }} " class="text-muted"> {{ answer.name_user }}</a>
      </h5>
      <div class="list-group-item">
         <div class="row-content">
            <a type="button" class="btn btn-success answerup btn-xs" ><i class="icon-hand-up"></i>{{ answer.upvote_count}}</a>
            <a type="button" class="btn btn-danger  answerdown btn-xs"><i class="icon-hand-down"></i>{{ answer.downvote_count}}</a>
            <p class="right"> <i class="icon-time"></i> {{ answer.create_date }} </p>
            <div class="prettyBlock">
               <div class="prettyPrint">
                  <?prettify?>
<pre class="prettyprint linenums">
{{ answer.answer_code }}
</pre>
               </div>
            </div>
            <br>
         </div>
      </div>
   </div>
    {{ajax_vote(answer.id)}}
    {% endfor %}
   {% else %}
   <center>
      <h5><i class="icon-info"></i> No hay Respuestas, responde tu!</h5>
   </center>
   {% endif %}
</div>



<script type="text/javascript">
/*TODO: RESPUESTAS COUNTER LETTER
let buttonComment = $('.btn-counter_letter');
let textCounterComment = $('.counter');
let field = $('.comment-area');
LetterCounter(5, 120, field, buttonComment, textCounterComment);
*/

//edit LetterCounter
let title= $('.title');
const title_length = [5, 150];

let description = $('.description');
const description_length = [15, 1000];

//let textarea = $('.TextArea');
//const textarea_length = [5, Infinity]; // BUG

let buttonEdit = $('.btn-edit-counter_letter');
let textCounterSnippet = $('.counter_snippet_length');

LetterCounter(title_length[0], title_length[1], title, buttonEdit, textCounterSnippet);
LetterCounter(description_length[0], description_length[1], description, buttonEdit, textCounterSnippet);

</script>


   {% if is_authenticated  %}

<script>
$(".up").addClass('upvotequestion');
$(".down").addClass('downvotequestion');

var csrftoken = $('meta[name=csrf-token]').attr('content')

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})

$('.upvotequestion').click(function(){
  var scope = this;
      $.ajax({
              type: "POST",
              url: "{{ url_for('upvote',  model='question'|string(), id=Question_data.id) }}",
              dataType: "json",
              success: function(response){
                  $('.upvotequestion').text(response.likes);
              }
      })
});

$('.downvotequestion').click(function(){
  var scope = this;
      $.ajax({
              type: "POST",
              url: "{{ url_for('downvote',  model='question'|string(), id=Question_data.id) }}",
              dataType: "json",
              success: function(response){
                  $('.downvotequestion').text(response.likes);
              }
      })
});



</script>

   {% endif %}

{% endblock %}
