/* YOUR CUSTOM STYLES */

#select-status{
    position:relative;
    width:13%;
    color: grey;
    font-size: 1.2em;
    display:inline-flex;
    border-radius:2%;
    border 1px solid black;
}

.status-option:hover{
    transition: 0.5s;
    opacity: 0.7;
}
