{% extends 'base/base.html' %}
{% set title = 'Snippets | Create' %}
{% block content  %}
{% assets "css_cm" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
{% endassets %}

{% assets "js_cm" %}
<script src="{{ ASSET_URL }}"/></script>
{% endassets %}
<script src="{{ url_for('static', filename='codemirror/mode/javascript/javascript.js') }}"/></script>

<div class="container">
  <div class="dates-snippets">
    <div class="col-md-9 name-snippets">
      <h1>Snippet Info <i class="icon-border icon-light icon-large icon-file-text"></i></h1>
      <form class="" method="POST">
        {% from "macros/_macro.html" import render_field %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
          <label class="control-label" for="">Filename including extension</label>
          {{ render_field(form.tittle, class='form-snippet' ) }}
          <p class="help-block">Add the name to your snippet</p>
        </div>
        <div class="form-group">
          <label class="control-label" for="">Add description</label>
          {{ render_field(form.description, class=' form-snippet ' ) }}
          <p class="help-block">Add the description to your snippet</p>
          <br>
        </div>
    </div>
  </div>
  <br>
  <div class="col-md-9 area-code-snippets">
    {{ render_field(form.text_area, class='TextArea') }}
  </div>
  <div class="col-md-3">
    <!--comment-->
  </div>
  <div class="col-md-5">
    <div class="tag-input togglebutton">
        <label for="" class="text-info">Tags</label>
        {{ form.tag_one(class='tag-form')  }}
        {{ form.tag_two(class='tag-form')  }}
        {{ form.tag_three(class='tag-form') }}
        <p class="help-block">Add tag for more info in your question.</p>
    </div>
  </div>
  <div class="col-md-7">
    <button type="submit" class="btn btn-success btn-raised btn-sm" id="button-inline">Submit</button>
    </form>
  </div>
</div>







<script type="text/javascript">
  $(document).ready(function () {
    var width = 800;
    var height = 600;
    var myTextArea = $('.TextArea')[0];
    var myCodeMirror = CodeMirror.fromTextArea(myTextArea,{
      styleActiveLine: true,
      indentUnit: 2,
      lineNumbers:true,
      theme: 'ttcn',
      lineWrapping: true,
      mode: 'javascript',
      viewportMargin: Infinity,
    });
    myCodeMirror.setSize(width, "80%");
    myCodeMirror.getDoc().setValue('print("Hello");\n>> "Hello"');

  });
</script>


{% endblock  %}
