{% extends 'base/base.html' %}
{% set title = 'Snippets | Title' %}
{% block content  %}

<script src="{{ url_for('static', filename='js/counter_letter.js') }}"/></script>
{% from "macros/_knowmode.html" import knowmode %}
{% from "macros/_popupmessage.html" import popupmessage %}
<meta name="csrf-token" content="{{ csrf_token() }}">

  {{ knowmode (lang) }}


{% if CRUD %}
<div class="container">
  {{ popupmessage('snippet', Snippet_data.id) }}
  <br>
  <div class="col-md-6">
      <form action="{{ url_for('edit_snippet', id=Snippet_data.id) }}"  method="POST" >
      {% from "macros/_macro.html" import render_field %}
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {{ render_field(new_SnippetForm.tittle, class='form-snippet title', value=Snippet_data.title, disabled=false ) }}
      {{ render_field(new_SnippetForm.description, class='form-snippet description-snippet description', value=Snippet_data.description,  disabled=false ) }}
     <li class="tag-question">{{Tag.tag_one}}</li>
     <li class="tag-question">{{Tag.tag_two}}</li>
     <li class="tag-question">{{Tag.tag_three}}</li>
     <li class="tag-question">{{ create_date }}</li>
     <li class="tag-question user"><a style="color:white;" href="{{ url_for('user', username=User.username)}}">{{ User.username }}</a></li>
     <li class="tag-question user">{{ Snippet_data.star_count }}</li>
  </div>
  <div class="col-md-2" style="margin-top:10px">
    <button class="btn btn-sm btn-raised btn-edit-counter_letter" type="submit" name="edit_submit">
      Edit <p class="counter_snippet_length"></p>
    </button>
    <button class="btn btn-sm btn-raised" type="button" name="delete_submit"
     onclick="active('Estas seguro que quieres eliminar para siempre este snippet?');return false;">
      Delete
    </button>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="area-text-question">
                {{ render_field(new_SnippetForm.text_area, class='TextArea textarea') }}
      </div>
    </div>
  </div>
      </form>
                <script type="text/javascript">
                  $(document).ready(function () {
                    var myTextArea = $('.TextArea')[0];
                    var myCodeMirror = CodeMirror.fromTextArea(myTextArea,{
                      styleActiveLine: true,
                      lineNumbers:true,
                      theme: 'ttcn',
                      indentUnit: 4,
                      indentWithTabs: true,
                      lineWrapping: true,
                      readOnly: false
                    });

                    myCodeMirror.setOption('mode', {{lang|tojson}});
                    myCodeMirror.getDoc().setValue({{Snippet_data.text_area | tojson }});
                    let buttonEdit = $('.btn-edit-counter_letter');
                    let textCounterSnippet = $('.counter_snippet_length');
                    let textarea = $('.TextArea');
                    const textarea_length = [5, 2000]; // BUG
                    myCodeMirror.on("change", function(){
                      var value_length = myCodeMirror.getValue().length;
                      LetterCounter(textarea_length[0], textarea_length[1], value_length, buttonEdit, textCounterSnippet);
                    });


                    setTimeout(function() {
                      myCodeMirror.refresh();
                    },1);


                  });
                </script>
{% else %}

<div class="container">
  <div class="col-md-6">
      <form method="POST">
      {% from "macros/_macro.html" import render_field %}
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {{ render_field(new_SnippetForm.tittle, class='form-snippet', value=Snippet_data.title, disabled=true ) }}
      {{ render_field(new_SnippetForm.description, class='form-snippet description-snippet ', value=Snippet_data.description,  disabled=true ) }}
     <li class="tag-question">{{Tag.tag_one}}</li>
     <li class="tag-question">{{Tag.tag_two}}</li>
     <li class="tag-question">{{Tag.tag_three}}</li>
     <li class="tag-question">{{ create_date }}</li>
     <li class="tag-question user"><a style="color:white;" href="{{ url_for('user', username=User.username)}}">{{ User.username }}</a></li>
     <a class="tag-question user star">{{ Snippet_data.star_count }}</a>
  </div>
  <div class="col-md-2" style="margin-top:10px">
    <button class="btn btn-sm btn-raised" type="submit" name="share_submit" >
      Share
    </button>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="area-text-question">
                {{ render_field(new_SnippetForm.text_area, class='TextArea') }}
                <script type="text/javascript">
                  $(document).ready(function () {
                    var myTextArea = $('.TextArea')[0];
                    var myCodeMirror = CodeMirror.fromTextArea(myTextArea,{
                      styleActiveLine: true,
                      lineNumbers:true,
                      lineWrapping: true,
                      matchBrackets: true,
                      indentUnit: 4,
                      indentWithTabs: true,
                      readOnly: true
                    });
                    myCodeMirror.setOption('mode', {{lang|tojson}});
                    myCodeMirror.getDoc().setValue({{Snippet_data.text_area | tojson }});
                    setTimeout(function() {
                      myCodeMirror.refresh();
                    },1);
                  });
                </script>
      </div>
    </div>
  </div>
      </form>


{% endif %}

    {% if is_authenticated %}
    <div class="col-md-8">
       <br>
       <center><h4 class="text-pre-answer">Comenta</h4></center>
       <form class="" method="POST">
          {% from "macros/_macro.html" import render_field %}
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="form-group">
             {{ render_field(comment_form.comment, class='form-control comment-area' ) }}
             <p class="help-block">Escribe tu comentario</p>
             <br>
          </div>
          <button type="submit" class="btn-counter_letter right  btn btn-raised btn-sm btn-success">Submit <p class="counter"></p> </button>
       </form>
    </div>
    {% else %}
    </br>
    {% endif %}


    {% if Comments %}
      <div class="col-md-12">
      <div class="col-md-5">

      {% for comment in Comments %}
          <h5><a href="{{ url_for('user', username=comment.get_username)}}">{{ comment.get_username }}</a></h5>
            <hr class="style4">
            <p>{{ comment.comment_text }}</p>
          <h6>{{ comment.get_createdate }}</h6>
      {% endfor %}
        </div>
      </div>
  {% else %}

      <div class="col-md-12">
        <center>
           <h5><i class="icon-info"></i> No hay Comentarios, responde tu!</h5>
        </center>
      </div>

  {% endif %}

</div>

<script type="text/javascript">
  $(document).ready(function() {
    let buttonComment = $('.btn-counter_letter');
    let textCounterComment = $('.counter');
    let field = $('.comment-area');

    LetterCounter(5, 120, field, buttonComment, textCounterComment);

    let title= $('.title');
    const title_length = [5, 150];

    let description = $('.description');
    const description_length = [15, 250];

    let buttonEdit = $('.btn-edit-counter_letter');
    let textCounterSnippet = $('.counter_snippet_length');

    LetterCounter(title_length[0], title_length[1], title, buttonEdit, textCounterSnippet);
    LetterCounter(description_length[0], description_length[1], description, buttonEdit, textCounterSnippet);
  });
</script>

<script>
    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
$('.star').click(function(){
  var scope = this;
      $.ajax({
              type: "POST",
              url: "{{ url_for('star', id=Snippet_data.id) }}",
              dataType: "json",
              success: function(response){
                  $('.star').text(response.likes);
              }
      })
});
</script>
{% endblock  %}
