<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="C:\Users\Servio\Desktop\Script\Python\ProjectFlask\TalkCode\app\static\css\bootstrap-material-design.css"/>
    <link rel="stylesheet" type="text/css" href="C:\Users\Servio\Desktop\Script\Python\ProjectFlask\TalkCode\app\static\css\bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="C:\Users\Servio\Desktop\Script\Python\ProjectFlask\TalkCode\app\static\css\cv.css"/>
  </head>
  <body>
    <h1>Andrew Bill</h1><hr>
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
  </blockquote>
  
<h5>Python</h5>
<div class="progress">
  <div class="progress-bar progress-bar-info" style="width: 55%"></div>
</div>
<h5>Javascript</h5>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 67%"></div>
</div>
<h5>C++</h5>
<div class="progress">
  <div class="progress-bar progress-bar-danger" style="width: 36%"></div>
</div>
<hr>
    <h2>Engineer</h2>
    
    <span class="label label-default">Back end Developer</span>
    <span class="label label-primary">Front end</span>
    <span class="label label-default">Underscore.js</span>

    <hr>
<ul class="nav nav-pills">
  <li class="active"><a>Question <span class="badge">42</span></a></li>
  <li class="active"><a>Answer <span class="badge">87</span></a></li>
  <li class="active"><a>Snippet <span class="badge">22</span></a></li>
</ul>
  </body>
</html>