{% extends 'base/base.html' %}
    {% set title = 'Home' %}
    {% set name = name_user %}

{% block content %}

<div class="container shadow">
    <div class="col-md-12">
        <h4 class="h4"> <i class="icon-user icon-border" style="color:rgb(142,136,193)"> </i> {{ UserDate.username }}</h4>
    <div class="list">
    <ul>
    <li class="text-primary" style=""><i class="icon-star"></i> 0</li>
    <li class="text-danger" style=""><i class="icon-gittip"></i> 0</li>
    <li class="text-warning" style=""><i class="icon-chevron-down"></i> 0</li>
    <li class="text-success" style=""><i class="icon-chevron-up"></i> 0</li>
    {% if is_authenticated %}
        <button class="btn btn-raised btn-success btn-xs"><a href="{{ url_for('follow', username=UserDate.username) }}">Follow</a></button>
        <button class="btn btn-raised btn-danger  btn-xs"><a href="{{ url_for('unfollow', username=UserDate.username) }}">Unfollow</a></button>
    {% endif %}
    </ul>
  </div>
    <h4 class="h4">{{CurriculumDate.tittle | capitalize}}</h4>
    <h6>University: {% if not CurriculumDate %} <spam class="text-info"> Add in curriculum.</spam> {% else  %}{{CurriculumDate.university | capitalize}} {% endif %}</h6>
    <span class="card-text">{{CurriculumDate.description | capitalize}}</span>

  {% if CRUD %}
  <a href="http://127.0.0.1:8000/setting/curriculum_info" class=" btn btn-info btn-raised btn-xs">Curriculum</a>
  {% endif %}
        {% if not PersonalDate %}
        <h6 class="text-info">Add your information in setting.</h6>
        {% if CRUD %}
        <a href=" {{ url_for('setting_personal') }}" class="right btn btn-info btn-raised btn-xs">Personal Setting</a>
        {% endif %}
        {% else %}
        {% if CRUD %}
        <a href=" {{ url_for('setting_personal') }}" class="right btn btn-info btn-raised btn-xs" style="padding-right:25px;padding-left:25px">Personal Setting</a>
        {% endif %}
                <span>{{PersonalDate.name | capitalize + " " + PersonalDate.last_name  | capitalize}}</span>
                <span>{{country}}</span>
                <span>{{PersonalDate.sex}}</span>
                <span>{{PersonalDate.dob}}</span>
                <span><a href="{{PersonalDate.social_red}}">{{ user_link[0] }}</a></span>
                <span><a href="{{PersonalDate.repository}}">{{ user_link[1] }}</a></span>
            <p class="card-text"><small class="text-muted">Last updated {{PersonalDate.create_date_personal}} ago</small></p>
        {% endif %}
     </div>
  <div class="activity-grid col-md-4">
      <p class="h4"> <i class="icon-question icon-border" style="color:rgb(109,131,153)"> </i>Question</p>
      {% if Questions %}
          {% for question in Questions %}
          <hr>
          <div class="activity-element">
            <h6><span class="label label-primary h6">Questions</span></h6>
            <p class="card-text"><i class="icon-question-sign text-pr"> </i>{{question.title}}
            <br>...
            <small>{{question.description|superwordwrap(60)}}...</small>
            </p>
          </div>
          {% endfor %}
      {% else %}
            <small>No hay preguntas realizadas</small>
      {% endif %}
  </div>
  <div class="snippet-grid col-md-4">
      <p class="h4"> <i class="icon-code icon-border" style="color:rgb(56,122,110)"> </i>Answer</p>
          {% if Answers %}
          {% for answer in Answers %}
        <hr>
        <div class="snippets-element">
        <h6><span class="label label-info h6">Answer</span></h6>
        <p class="card-text"><i class="icon-code text-info"> </i>{{answer.answer|superwordwrap(60)}}
        <br>...
        <small>{{answer.title|superwordwrap(60)}}...</small>
        </p>
        </div>
      {% endfor %}
      {% else %}
            <small>No hay respuestas realizadas</small>
      {% endif %}
  </div>
 <div class="snippet-grid col-md-4">
      <p class="h4"> <i class="icon-code icon-border" style="color:rgb(56,122,110)"> </i>Snippets</p>
          {% if Snippets %}
          {% for snippet in Snippets %}
          <hr>
          <div class="activity-element">
            <h6><span class="label label-primary h6">Snippets Lang</span></h6>
            <p class="card-text"><i class="icon-question-sign text-pr"> </i>{{snippet.title}}
            <br>...
            <small>{{snippet.description|superwordwrap(60)}}...</small>
            </p>
          </div>
          {% endfor %}
      {% else %}
            <small>No hay snippets creados</small>
      {% endif %}
  </div>
</div>
{% endblock %}
