{% extends 'base/base.html' %}
    {% set title = 'Home' %}
    {% set name = name_user %}

{% block content %}
<div class="container">
  <div class="activity-grid col-md-4">


      <p class="h4">Activity</p>
      <hr>
        <div class="activity-element">
        <h6><span class="label label-primary h6">Questions</span></h6>
        <p class="card-text"><i class="icon-question-sign text-pr"> </i>Python music librery <code>pyknon</code>
        <br>...
        <small>How to convert midi format to mp3 in python?</small>
        </p>
        <hr>
        </div>
        <div class="activity-element">
        <h6><span class="label label-success h6">Answer</span></h6>
        <p class="card-text"><i class="icon-file-text text-success"> </i>Javascript Variables <code>var</code>, <code>let</code> and <code>const</code>
        <br>...
        <small>How correct use?</small>
        </p>
        <hr>
        </div>
  </div>
  <div class="snippet-grid col-md-4">
      <p class="h4">Snippets</p>
      <hr>
        <div class="snippets-element">
        <h6><span class="label label-info h6">Python</span></h6>
        <p class="card-text"><i class="icon-code text-info"> </i>Generator fibonacci sequence
        <br>...
        <small>Simple y eficiente generador para crear la sucecion fibonacci</small>
        </p>
        <hr>
    </div>
  </div>

<div class="user-grid col-md-4">
  <h4 class="h4"> {{ name_user }}</h4>
  <div class="list">
    <ul>
    <li class="text-primary" style=""><i class="icon-star"></i> 0</li>
    <li class="text-danger" style=""><i class="icon-gittip"></i> 0</li>
    <li class="text-warning" style=""><i class="icon-chevron-down"></i> 0</li>
    <li class="text-success" style=""><i class="icon-chevron-up"></i> 0</li>
    </ul>
  </div>
</div>
<div class="job-grid col-md-4">

    <h4 class="h4">{{CurriculumDate.tittle}}</h4>
    <h6>University: {% if not CurriculumDate %} <spam class="text-info"> Add in curriculum.</spam> {% else  %}{{CurriculumDate.university}} {% endif %}</h6>

              <a href="http://127.0.0.1:8000/setting/curriculum_info" class="right btn btn-info btn-raised btn-xs">Curriculum</a>
              <p class="card-text">{{CurriculumDate.description}}</p>
    </div>
    <div class="article-class col-md-4">

        <h4>Articles <span class="badge"> 0</span></h4><!--create this class-->

        <p>Lista de Articulos o No hay articulos</p>
      <a href="http://127.0.0.1:8000/setting/curriculum_info" class="right btn btn-info btn-raised btn-xs">Write Article</a>
    </div>

<div class="personal-grid col-md-4">
    <h4 class="card-title">Personal Date</h4>
    <hr>
        {% if not PersonalDate %}
        <h6 class="text-info">Add your information in setting.</h6>
        <a href=" {{ url_for('setting_personal') }}" class="right btn btn-info btn-raised btn-xs">Setting</a>
        {% else %}
                <h6>{{PersonalDate.name + " " + PersonalDate.last_name}}</h6>
                <h6>{{PersonalDate.country}}</h6>
                <h6>{{PersonalDate.city}}</h6>
                <h6>{{PersonalDate.dob}}</h6>
                <a href="{{PersonalDate.social_red}}">{{ user_link[1] }}</a>
                <br>
                <a href="{{PersonalDate.repository}}">{{ user_link[0] }}</a>

            <p class="card-text"><small class="text-muted">Last updated {{PersonalDate.create_date_personal}} ago</small></p>
        {% endif %}

</div>
</div>
<br>

{% endblock %}
