  {% extends 'base/base.html' %}

    {% set title = 'Prog Prog' %}

{% block content %}
  <div class="container">
      <div class="row-content">
          <br>
              <div class="col-md-4">
                  <h2 class="h2">No te has registrado?</h2>

                  <button class="btn btn-success btn-raised"><a href="http://127.0.0.1:8000/register">Unete</a></button>
              </div>
          <fieldset>
          <legend class="h2">Login</legend>

      <form class="form-horizontal" action="" method="POST">
            {% from "macros/_macro.html" import render_field %}

          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />


        <div class="form-group label-static">
          <label class="control-label  label-floating ">Username</label>
          {{ render_field(form.username, class='form-control' ) }}

        </div>

        <div class="form-group label-floating">
          <label class="control-label  label-floating">Password</label>
          {{ render_field(form.password, class='form-control') }}
        </div>

        <button class="btn btn-success btn-raised">Go!</button>
      </form>
    </fieldset>
    </div>
 </div>

  {% endblock %}
