.shadow {
  -webkit-box-shadow: -1px -1px 18px -5px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: -1px -1px 18px -5px rgba(0, 0, 0, 0.85);
  box-shadow: -1px -1px 18px -5px rgba(0, 0, 0, 0.85); }

.inputdate {
  height: 24px;
  padding: 3px 0;
  font-size: 16px;
  line-height: 1.5;
  border: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
  -webkit-background-size: 0 2px, 100% 1px;
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center -webkit-calc(100% - 1px);
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  -webkit-transition: background 0s ease-out;
  -o-transition: background 0s ease-out;
  transition: background 0s ease-out;
  float: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0; }

.navbar {
  margin-bottom: 40px !important; }

.list ul {
  display: inline-flex;
  margin-left: -40px; }
  .list ul li {
    list-style-type: none;
    margin-right: 20px; }

.right {
  position: relative;
  float: right; }

.left {
  position: relative;
  float: left; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #78e7e0; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 12px #006eff;
  background-color: #5667c6; }

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: 0 0 12px #026cf7;
  background-color: #3f6cc3; }

::-webkit-scrollbar-corner {
  background-color: white; }

::-webkit-resizer {
  background-color: #f6f6f6; }

#footer-base {
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background-color: #d0d0d0;
  margin-top: 40px; }
  #footer-base h4 {
    position: relative;
    padding: 15px; }
  #footer-base p {
    position: relative;
    font-size: 0.8em;
    float: right;
    top: 40%;
    margin: 0 auto; }

/* Error message when problem in form */
.error {
  cursor: pointer;
  padding: 5px;
  color: white;
  font-size: 14px;
  animation-name: opacity-key;
  animation-duration: 0.2s;
  animation-iteration-count: 1; }

.btn a {
  text-decoration: none; }

.btns {
  position: relative;
  display: block;
  margin-top: 14px;
  padding: 2px 5px 2px 5px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #8cada9;
  transition: background-color 0.3s; }
  .btns:hover, .btns:focus {
    background-color: #e3e6e4;
    color: black; }
  .btns > * {
    position: relative; }
  .btns span {
    display: block;
    padding: 12px 24px; }
  .btns:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, 0.3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .btns:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width 0.2s ease-out, padding-top 0.2s ease-out; }

.btns.navbarbtnleft {
  width: 110px;
  background-color: #52b9a0;
  padding: 10px !important;
  margin-top: 12px !important;
  margin-bottom: 7px; }
  @media screen and (min-width: 1200px) {
    .btns.navbarbtnleft {
      width: 85px;
      margin-left: 15px !important;
      margin-right: 15px; } }
  @media screen and (max-width: 1086px) {
    .btns.navbarbtnleft {
      width: 90px;
      margin-left: 10px !important; } }
  @media screen and (max-width: 850px) {
    .btns.navbarbtnleft {
      width: 90px;
      margin-left: 10px !important; } }
  @media screen and (max-width: 1006px) {
    .btns.navbarbtnleft {
      margin-left: 10px !important; } }
  @media screen and (min-width: 500px) {
    .btns.navbarbtnleft {
      margin-left: 5px !important; } }
  @media screen and (max-width: 800px) {
    .btns.navbarbtnleft {
      float: left;
      margin-left: 15px !important; } }
.btns.navbarbtnright {
  width: 100px;
  background-color: #46a281;
  padding: 10px !important;
  margin-top: 10px !important;
  margin-right: 20px !important;
  margin-bottom: 7px; }
  @media screen and (max-width: 1200px) {
    .btns.navbarbtnright {
      margin-right: 5px !important; } }
  @media screen and (max-width: 980px) {
    .btns.navbarbtnright {
      width: 93px; } }
  @media screen and (max-width: 930px) {
    .btns.navbarbtnright {
      width: 78px; } }
  @media screen and (max-width: 800px) {
    .btns.navbarbtnright {
      margin-left: 15px;
      float: left; } }
.btns.setting {
  background-color: #286282;
  padding: 5px !important; }
  @media screen and (max-width: 1200px) {
    .btns.setting {
      margin-right: 5px !important; } }
  @media screen and (max-width: 800px) {
    .btns.setting {
      margin-left: 15px;
      float: right; } }

.search-form {
  color: black;
  padding: 5px 0px 2px 15px;
  font-size: 14px;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border: 1px solid #c6c6c6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto; }
  @media screen and (max-width: 1400px) {
    .search-form {
      margin-left: 120px;
      width: 380px; } }
  @media screen and (max-width: 1200px) {
    .search-form {
      margin: 0px;
      width: 370px; } }
  @media screen and (max-width: 1086px) {
    .search-form {
      margin: 0px;
      width: 270px; } }
  @media screen and (max-width: 850px) {
    .search-form {
      margin: 0px;
      width: 280px; } }
  @media screen and (max-width: 980px) {
    .search-form {
      margin: 0px;
      width: 195px; } }
  @media screen and (max-width: 800px) {
    .search-form {
      margin: 0;
      width: 100%; } }

.btn-search {
  background-color: inherit;
  height: 34px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #d3d3d3;
  color: #333; }

.flex {
  display: flex; }

.inline-flex {
  display: inline-flex; }

.flex-item {
  font-size: 12px; }

.flex-container-w {
  background-color: salmon;
  color: white;
  padding: 20px; }

.row {
  flex-direction: row; }

.row-reverse {
  flex-direction: row-reverse; }

.col {
  flex-direction: column; }

.col-reverse {
  flex-direction: column-reverse; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.flex-start {
  justify-content: flex-start; }

@keyframes opacity-key {
  0% {
    opacity: 0.1; }
  20% {
    opacity: 0.3; }
  45% {
    opacity: 0.5; }
  75% {
    opacity: 0.7; }
  83% {
    opacity: 0.8; }
  93% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }
.area-text-question > textarea {
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid #e2e6e6;
  margin: 10px 0 10px 0;
  font-family: "Open Sans", sans-serif;
  outline: none;
  width: 100%;
  height: 30vh;
  overflow-x: hidden;
  overflow-y: scroll; }
  @media screen and (max-width: 320px) {
    .area-text-question > textarea {
      width: 290px; } }
  @media screen and (max-width: 310px) {
    .area-text-question > textarea {
      width: 280px; } }

.form-litle {
  color: #7d7c72;
  width: 100%;
  padding: 6px 10px 6px 10px;
  transition: 0.6s;
  border: 1px solid white;
  border-radius: 5px; }
  .form-litle:focus {
    transition: 0.6s;
    border: 1px solid;
    -webkit-box-shadow: inset 0px -2px 67px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px -2px 67px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -2px 67px 0px rgba(0, 0, 0, 0.15); }

.description-area {
  color: #7d7c72;
  width: 100%;
  height: 15vh;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.6s;
  margin-bottom: 20px; }
  .description-area:focus {
    transition: 0.6s;
    border: 1px solid #7e7e7e;
    -webkit-box-shadow: inset 0px -2px 87px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px -2px 87px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -2px 87px 0px rgba(0, 0, 0, 0.15); }

.tag-input {
  display: inline-block;
  margin-top: 20px;
  margin-right: 8px;
  opacity: 1;
  cursor: pointer;
  position: relative;
  white-space: nowrap; }

.tag-form {
  display: inline-block;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 33.333%;
  transition: border-color 0.4s; }
  @media screen and (max-width: 320px) {
    .tag-form {
      width: 23.333%; } }
  @media screen and (max-width: 310px) {
    .tag-form {
      width: 16.333%; } }

.tag-form:hover {
  transition: 0.7s;
  box-shadow: 0px 0px 5px 0px #43e2d8; }

.tag-form:focus {
  transition: 0.6s;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.3); }

#button-inline {
  margin: 20px 1px 0px 50px;
  background-color: #2fb57d;
  position: relative;
  display: inline-block; }
  @media screen and (max-width: 320px) {
    #button-inline {
      margin: 16px 1px 0px 10px; } }
  @media screen and (max-width: 310px) {
    #button-inline {
      margin: 12px 1px 0px 10px; } }

.CodeMirror {
  border: 1px solid #eee;
  border-radius: 5px;
  height: 700px !important; }

.tags {
  margin: 0;
  overflow: hidden;
  padding: 0; }
  .tags li {
    float: left;
    list-style-type: none; }

.tag-question {
  background: #8c8c8c;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 35px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.5); }
  .tag-question:hover {
    color: black; }
  .tag-question::before {
    content: ":";
    color: #b9b9b9;
    position: absolute;
    width: 4px;
    left: 5px;
    top: 0; }
  .tag-question.up {
    background: #3fa15d; }
    .tag-question.up::before {
      content: "+";
      color: white;
      position: absolute;
      width: 4px;
      left: 5px;
      top: 0; }
  .tag-question.down {
    background-color: #be6d4f;
    width: 50px; }
    .tag-question.down::before {
      content: "-";
      color: white;
      position: absolute;
      width: 4px;
      left: 5px;
      top: 0; }
  .tag-question.user {
    background-color: #3a95b1; }
    .tag-question.user::before {
      content: "=";
      color: white;
      position: absolute;
      width: 4px;
      left: 5px;
      top: 0; }

.prettyBlock {
  display: flex;
  max-height: 480px; }

.prettyPrint {
  width: 100ch; }

.text-pre-answer {
  font-size: Arial !important;
  opacity: 0.7; }

.answer-area {
  color: #7d7c72;
  width: 100%;
  height: 15vh;
  padding: 6px 10px 6px 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.6s; }
  .answer-area:focus {
    transition: 0.6s;
    border: 1px solid #7e7e7e;
    -webkit-box-shadow: inset 0px -2px 87px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px -2px 87px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -2px 87px 0px rgba(0, 0, 0, 0.15); }

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important; }

.username-snippets {
  margin-top: 25px;
  margin-bottom: 25px; }

.dates-snippets {
  overflow: hidden; }

.description-snippet {
  margin-bottom: 40px; }

hr.style10 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff; }
  hr.style10:after {
    content: "";
    display: block;
    margin-top: 2px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff; }

.form-snippet {
  color: #7d7c72;
  width: 100%;
  padding: 6px 10px 6px 10px;
  transition: 0.6s;
  border: 1px solid white;
  border-radius: 5px; }
  .form-snippet:focus {
    transition: 0.6s;
    border: 1px solid;
    -webkit-box-shadow: inset 0px -2px 67px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px -2px 67px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -2px 67px 0px rgba(0, 0, 0, 0.15); }

.col-snippet {
  margin-top: 10px; }
  .col-snippet a {
    text-decoration: none; }

.limited-div {
  overflow-y: hidden;
  height: 100px;
  display: block;
  margin-top: 15px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  background-color: #ffffff; }

.limited {
  height: 110px; }

.index-box-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.2rem; }

.index-box-description {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem; }

.div-description {
  padding-left: 10px;
  height: 200px;
  max-height: 150px;
  border: 1px solid #77e6d5; }

body > .container {
  margin-bottom: -30px;
  min-height: 100%; }

.flash-message {
  position: fixed;
  z-index: 9999;
  top: 60px;
  right: 0; }
  @media screen and (max-width: 850px) {
    .flash-message {
      top: 50px;
      right: 0; } }

/* The Modal (background) */
.modalmessage {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
/* The Close Button */
.close {
  color: #a64c5f;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.4s;
  margin-right: 15px; }
  .close:hover, .close:focus {
    transition: 0.4s;
    color: #000;
    text-decoration: none;
    cursor: pointer; }

.modal-header {
  padding: 2px 16px;
  color: white; }

.modal-body {
  padding: 2px 16px; }

/*# sourceMappingURL=style.css.map */
