$break-small: 320px
$break-very-small: 310px
$break-large: 1200px
$break-medium: 970px

//Write Question
//......
//.....
//....
//...
//..
//.
.area-text-question > textarea
  padding: 10px
  border-radius: 2px
  box-shadow:  0px 2px 11px 0px rgba(0, 0, 0, 0.3)
  border: 1px solid #e2e6e6
  margin: 10px 0 10px 0
  font-family: 'Open Sans', sans-serif
  outline: none
  width: 100%
  height: 30vh
  overflow-x: hidden
  overflow-y: scroll
  @media screen and (max-width: $break-small)
    width: 290px
  @media screen and (max-width: $break-very-small)
    width: 280px


.form-litle
  color: rgb(125,124,114)
  width: 100%
  padding: 6px 10px 6px 10px
  transition: .6s
  border: 1px solid rgb(255,255,255)
  border-radius: 5px
  &:focus
    transition: .6s
    border: 1px solid
    -webkit-box-shadow: inset 0px -2px 67px 0px rgba(0,0,0,0.15)
    -moz-box-shadow: inset 0px -2px 67px 0px rgba(0,0,0,0.15)
    box-shadow: inset 0px -2px 67px 0px rgba(0,0,0,0.15)

.description-area
  color: rgb(125,124,114)
  width: 100%
  height: 15vh
  padding: 5px
  border: 1px solid rgb(255,255,255)
  border-radius: 5px
  transition: .6s
  margin-bottom: 20px
  &:focus
    transition: .6s
    border: 1px solid rgb(126,126,126)
    -webkit-box-shadow: inset 0px -2px 87px 0px rgba(0,0,0,0.15)
    -moz-box-shadow: inset 0px -2px 87px 0px rgba(0,0,0,0.15)
    box-shadow: inset 0px -2px 87px 0px rgba(0,0,0,0.15)


.tag-input
  display: inline-block
  margin-top: 20px
  margin-right: 8px
  opacity: 1
  cursor: pointer
  position: relative
  white-space: nowrap

.tag-form
  display: inline-block
  font-weight: 100
  font-size: 14px
  line-height: 20px
  padding: 2px 7px
  border-radius: 4px
  border: 1px solid #ccc
  width: 33.333%
  transition: border-color .4s
  @media screen and (max-width: $break-small)
    width: 23.333%
  @media screen and (max-width: $break-very-small)
    width: 16.333%

.tag-form:hover
  transition: .7s
  box-shadow:  0px 0px 5px 0px rgb(67,226,216)

.tag-form:focus
  transition: .6s
  box-shadow:  0px 2px 11px 0px rgba(0, 0, 0, 0.3)

#button-inline
  margin: 20px 1px 0px 50px
  background-color: #2fb57d
  position: relative
  display: inline-block
  @media screen and (max-width: $break-small)
    margin: 16px 1px 0px 10px
  @media screen and (max-width: $break-very-small)
    margin: 12px 1px 0px 10px

//Question Pagination
//.....
//....
//...
//..
//.


.CodeMirror
  border: 1px solid #eee
  border-radius: 5px
  height: 700px !important

// Question view
//......
//.....
//....
//...
//..
//.
.tags
  margin: 0
  overflow: hidden
  padding: 0
  li
    float: left
    list-style-type: none

.tag-question
  background: rgb(140,140,140)
  border-radius: 3px 0 0 3px
  color: white
  display: inline-block
  height: 26px
  line-height: 26px
  padding: 0 20px 0 23px
  position: relative
  margin: 0 35px 10px 0
  text-decoration: none
  -webkit-transition: color 0.2s
  box-shadow:  3px 1px 10px rgba(0, 0, 0, .5)
  &:hover
    color: black
  &::before
    content: ':'
    color: rgb(185,185,185)
    position: absolute
    width: 4px
    left: 5px
    top: 0
  &.up
    background: rgb(63,161,93)
    width: 68%
    &::before
      content: "\f0a6"
      font-family: FontAwesome
      color: white
      position: absolute
      width: 4px
      left: 5px
      top: 0
  &.down
    background-color: rgb(190,109,79)
    width: 68%
    &::before
      content: "\f0a7"
      font-family: FontAwesome
      color: white
      position: absolute
      width: 4px
      left: 5px
      top: 0
  &.user
    background-color: rgb(58,149,177)
    &::before
      content: '='
      color: white
      position: absolute
      width: 4px
      left: 5px
      top: 0





.prettyBlock
  display: flex
  max-height: 480px

.prettyPrint
  width: 100ch

// Answer Form and View
//......
//.....
//....
//...
//..
//.
.text-pre-answer
  font-size: Arial !important
  opacity: 0.7

.answer-area
  color: #7d7c72
  width: 100%
  height: 15vh
  padding: 6px 10px 6px 10px
  border: 1px solid white
  border-radius: 5px
  transition: 0.6s
  &:focus
    transition: .6s
    border: 1px solid rgb(126,126,126)
    -webkit-box-shadow: inset 0px -2px 87px 0px rgba(0,0,0,0.15)
    -moz-box-shadow: inset 0px -2px 87px 0px rgba(0,0,0,0.15)
    box-shadow: inset 0px -2px 87px 0px rgba(0,0,0,0.15)


.CodeMirror
  border: 1px solid #eee
  height: auto !important
