//MAIN STYLE FOR TALKCODE
//Write by Carlos Azuaje 2016
//......
//.....
//....
//...
//..
//.
@import 'user.sass'
@import 'base.sass'
@import 'flexbox.sass'
@import 'utils.sass'
@import 'question.sass'
@import 'snippets.sass'
@import 'index.sass'

$break-small: 320px
$break-very-small: 310px
$break-large: 1400px
$break-no-large: 1200px
$break-1086: 1086px
$break-980: 980px
$break-medium: 850px


body > .container
  margin-bottom: -30px
  min-height: 100%


.flash-message
  position: fixed
  z-index: 9999
  top: 30px + 30
  right: 0
  @media screen and (max-width: $break-medium)
    top: 25px + 25
    right: 0


/* The Modal (background)

.modalmessage
  display: none
  /* Hidden by default
  position: fixed
  /* Stay in place
  z-index: 9999
  /* Sit on top
  padding-top: 100px
  /* Location of the box
  left: 0
  top: 0
  width: 100%
  /* Full width
  height: 100%
  /* Full height
  overflow: auto
  /* Enable scroll if needed
  background-color: rgb(0, 0, 0)
  /* Fallback color
  background-color: rgba(0, 0, 0, 0.4)
  /* Black w/ opacity

/* Modal Content

.modal-content
  position: relative
  background-color: #fefefe
  margin: auto
  padding: 0
  border: 1px solid #888
  width: 80%
  -webkit-animation-name: animatetop
  -webkit-animation-duration: 0.4s
  animation-name: animatetop
  animation-duration: 0.4s

/* Add Animation
@-webkit-keyframes animatetop
  from
    top: -300px
    opacity: 0

  to
    top: 0
    opacity: 1


@keyframes animatetop
  from
    top: -300px
    opacity: 0

  to
    top: 0
    opacity: 1


/* The Close Button

.close
  color: rgb(166,76,95)
  float: right
  font-size: 28px
  font-weight: bold
  transition: .4s
  margin-right: 5px + 10
  &:hover, &:focus
    transition: .4s
    color: #000
    text-decoration: none
    cursor: pointer

.modal-header
  padding: 2px 16px
  color: white

.modal-body
  padding: 2px 16px

hr.style14
  border: 0
  height: 1px
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)

hr.style4
  border-top: 1px dotted #8c8b8b
