{% extends 'base/base.html' %}
    {% set title = 'Home' %}


{% block content %}
<div class="container">
  <div class="card card-block">
    <h4 class="card-title">Causa y Efecto</h4>
    <p class="card-text">Esta pagina fue creada para que las personas puedan compartir y aprender codigo.</p>
  </div>

  <div class="card card-block text-center">
    <h4 class="card-title">Comienzo y Fin</h4>
    <p class="card-text">Proyecto comenzado el 20/09/2016</p>
  </div>

  <div class="card card-block text-right">
    <h4 class="card-title">Creadores</h4>
    <p class="card-text">Diseñada y Programada por <code>carlos azuaje</code></p>
    <button type="button" class="btn btn-default" data-style="toast" data-content="Good bye" data-toggle="snackbar" data-timeout="0"><a href="https://github.com/CharlyJazz">Github</a></button>
  </div>
</div>
{% endblock %}
