{% extends 'base/base.html' %}
    {% set title = 'Home' %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <hr>
      <h2 class="text-muted h5">
        Esta pagina fue creada para que desarrolladores y estudiantes publiquen sus Snippets, Problemas algoritmicos y
         o Articulos relacionados a la programacion.
      </h2>
    </div>
<div class="col-md-6" style="">
  <hr>
  <blockquote class="blockquote-reverse">
    <h2>Esta pagina fue creada con Flask</h2>
    <p class="h6">Proyecto comenzado el 20/09/2016 con la intencion de aprender a usar una arquitectura web RESTfull.
    <br>
    </p>
  </blockquote>
  <blockquote class="blockquote">
    <h2>Diseñada y Programada por Carlos Azuaje</h2>
    <p class="h6">Usando como framework Bootstrap Material Design.
    <br>
    </p>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <h2>Codigo fuente en Github</h2>
    <p class="h6">Codigo libre, para estudio y reutilizacion.
    <br>
    </p>
  </blockquote>
  <blockquote class="blockquote">
    <h2>Desarrollo Lorem ipsum dolor</h2>
    <p class="h6">Lorem ipsum dolor sit amet,
       consectetur adipisicing elit. In facere, perferendis fugiat dolore.
    <br>
    </p>
  </blockquote>
  <hr>
</div>
</div>

</div>
{% endblock %}
