{% extends 'layout_user/layout_user.html' %}

{% set litle = home %}
{% set name = name_user %}


{% block skill %}

    <ul class="">
    {% for item in skill %}

        {% if item in skill%}
        <li class="list-group-item h6">{{ item }}</li>

        {% else %}
        <li class="list-group-item h6">Escribe tus habilidades!</li>

        {% endif %}


    {% endfor %}
    </ul>

{% endblock  %}


{% block status %}

<div>
  <select class="form-control" id="select-status">
    <option style="background-color: green;">Available</option>
    <option style="background-color: pink;">Studing</option>
    <option style="background-color: chocolate;">Sleep</option>
    <option style="background-color: red;">Not Available</option>
    <option style="background-color: black; color:red;">Off</option>
  </select>
</div>


{% endblock %}

