{% macro popupmessage(type, this_id) %}

<div id="myModal" class="modalmessage">
  <!-- Modal content -->
  <div class="modal-content alert alert-dismissible alert-danger ">
    <div class="modal-header">
      <span class="close icon-remove"></span>
      <h2>Wow!</h2>
    </div>
    <div class="modal-body">
      <p id=messagebox></p>
        {% if type|string() == 'question'%}
        <p>Se borraran todos los likes y downlikes de tu cuenta vinculados a esta pregunta</p>
        <button class="btn btn-danger btn-sm btn-raised" type="button" name="button">
        <a href="{{ url_for('main.delete_question', id=this_id) }}"><i class="icon-warning-sign" style="margin-right:7px" > </i>Delete</a>
        </button>
        {% endif %}

        {% if type|string() == 'snippet' %}
        <p>Se borraran todas las estrelas vinculadas a tu snippets</p>
        <button class="btn btn-danger btn-sm btn-raised" type="button" name="button">
        <a href="{{ url_for('main.delete_snippet', id=this_id) }}"><i class="icon-warning-sign" style="margin-right:7px" > </i>Delete</a>
        </button>
        {% endif %}
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/popupmessage.js')}}"/></script>

{% endmacro %}
