{% extends 'base/base.html' %}
{% block content %}
<div class="container" style="margin-top:20px">
   <div class="row">
      <div class="col-md-12">
         <h1>Hi! <br> {{ username }}</h1>
         {% for question in Questions %}
         {{ question.title }}
         {% endfor %}
         {% for answer in Answers %}
         {{ answer.answer }}
         {% endfor %}
         {% for snippet in Snippets %}
         {{ snippet.title }}
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}
