{% extends 'base/base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='codemirror/mode/javascript/javascript.js') }}"/></script>

<div class="container" style="margin-top:20px">
   <div class="row">
      <div class="col-md-12">
         <h1>Hi! <br> {{ username }}</h1>
         <hr class="style14">
      </div>

      <div class="col-md-4">
        <div class="bs-component">
          <div class="well well-sm">
        <h4>Questions:</h4>
        <hr class="style14">
        {% if Questions %}
          {% for q in Questions %}
              <h5><a href=" {{ url_for('main.questions', id=q.id) }}">{{q.title }}</a></h5>
              {% if q.get_createdate%}
                <span><i class="icon-time"></i> {{ q.get_createdate }}</span>
              {% endif %}
              <hr>
          {% endfor %}
          {%else%}
              <h5>Follow more people for see questions..</h5>
        {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="bs-component">
          <div class="well well-sm">
        <h4>Answers:</h4>
        <hr class="style14">
        {% if Answers %}
          {% for q in Answers %}
              <h5><a href=" {{ url_for('main.questions', id=q.id_question) }}">{{ q.answer }}</a></h5>
              {% if q.get_createdate%}
                <span><i class="icon-time"></i> {{ q.get_createdate }}</span>
              {% endif %}
              <hr>
          {% endfor %}
          {%else%}
              <h5>Follow more people for see answers..</h5>
        {% endif %}
          </div>
        </div>
    </div>

      <div class="col-md-4">
        <div class="bs-component">
          <div class="well well-sm">
        <h4>Snippets:</h4>
        <hr class="style14">
        {% if Snippets %}
          {% for q in Snippets %}
              <h5><a href="{{ url_for('main.snippets', id=q.id) }}">{{q.title }}</a></h5>
              {% if q.get_createdate%}
                <span><i class="icon-time"></i> {{ q.get_createdate }}</span>
              {% endif %}
              <hr>
          {% endfor %}
          {%else%}
              <h5>Follow more people for see snippets..</h5>
        {% endif %}
          </div>
        </div>
       </div>
   </div>

    <hr class="style14">

   <div class="row">
     <div class="col-md-5">
      <h2><i class="icon-code"></i> Snippets</h2>
        <p>
          Let others comment your snippets, receive 
          stars for your coding skill and learn more
        </p>
       <hr class="style4">

     <h2><i class="icon-question"></i> Questions</h2>
        <p>
         Solve your bug, doubts and mental problems with
         the help of others and recive votes to have more
         hierarchy.
        </p>
      <hr class="style4">

      <h2><i class="icon-lightbulb"></i> Mini CV</h2>
          <p>
            Create a minicurriculum with your
            information using PDF and be lucky!!
          </p>
       <hr class="style4">

      <h2><i class="icon-eye-open"></i> Learn more!</h2>
          <p>
            Learn more and more, what are you waiting for?
            {% if not 'username' in session %}
            <button type="button" class="btn btn-raised btn-sm" >
              <a href="{{ url_for('security.register') }}">Register</a>
            </button>
            {% endif %}
          </p>
     </div>

     <div class="col-md-7">
         <textarea id="IndexTextArea">
var emptygif = require('emptygif');
var express = require('express');
var app = express();
var server = require('http').createServer(app);
var io = require('socket.io')(server);

app.get('/tpx.gif', function(req, res, next) {
  io.emit('visit', {
    ip: req.ip,
    ua: req.headers['user-agent']
  });

  emptygif.sendEmptyGif(req, res, {
    'Content-Type': 'image/gif',
    'Content-Length': emptygif.emptyGifBufferLength,
    'Cache-Control': 'public, max-age=0' // or specify expiry to make sure it will call everytime
  });
});

app.use(express.static(__dirname + '/public'));

server.listen(1337);
         </textarea>
    <br>
    <br>

     </div>
   </div>
</div>
    <br>
    <br>
<div class="col-md-12">
    <center>
          <hr class="style14">  
          <h4>Explore other users and their creations, follow those you want</h4>
          <br>
          <button class="btn btn-raised"><a href="{{ url_for('main.explorer') }}">Explorer!</a></button>
    <center>
</div>

  <script type="text/javascript">
                  var myTextArea = document.getElementById('IndexTextArea');
                  var editor = CodeMirror(function(elt) {
                    myTextArea.parentNode.replaceChild(elt, myTextArea);
                  }, {value: myTextArea.innerHTML,
                      styleActiveLine: true,
                      lineNumbers:true,
                      theme: 'ttcn',
                      indentUnit: 4,
                      indentWithTabs: true,
                      lineWrapping: true,
                      readOnly: false,
                      });
</script>
{% endblock %}
